/* Обнуление
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
-------------------- */

body {
  width: 80%;
  margin: 0 auto;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  background-color: #e7f5d3;
}
h1,
h2,
h3 {
  text-align: center;
}
footer {
  height: 240px;
}
hr {
  margin: 32px 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.ver {
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid #555;
}
.ver li {
  text-align: center;
  border-bottom: 1px solid #555;
}
.ver li:last-child {
  border-bottom: none;
}
.ver li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.ver li a.active {
  background-color: #04aa6d;
  color: white;
}
.ver li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

ul.hor {
  overflow: hidden;
  background-color: #444;
}
.hor li {
  float: left;
  border-right: 1px solid #bbb;
}
.hor li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.hor li a:hover:not(.active) {
  background-color: #111;
}
.hor .active {
  background-color: #04aa6d;
}
.hor li:last-child {
  float: right;
  border-right: none;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
