/* Обнуление
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
-------------------- */

body {
  width: 80%;
  margin: 0 auto;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  background-color: #e7f5d3;
}
h1,
h2,
h3 {
  text-align: center;
}
footer {
  height: 240px;
}
hr {
  margin: 32px 0px;
}

.grad {
  background-image: linear-gradient(to bottom right, lightblue, yellow);
}

.grad2 {
  background-image: linear-gradient(
    60deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

.grad3 {
  background-image: radial-gradient(red, yellow, green);
}

.grad4 {
  background-image: conic-gradient(
    Lightcoral 30deg,
    Lightgreen,
    Lightblue 330deg
  );
}
.grad5 {
  height: 200px;
  width: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: conic-gradient(red, yellow, green, blue, black);
}
.grad6 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: red; /* For browsers that do not support gradients */
  background-image: conic-gradient(
    red 0deg,
    red 90deg,
    yellow 90deg,
    yellow 180deg,
    green 180deg,
    green 270deg,
    blue 270deg
  );
}
.grad7 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: red; /* For browsers that do not support gradients */
  background-image: conic-gradient(from 45deg at 70% 30%, red, yellow, green);
}
