/* Обнуление
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
-------------------- */
* {
  box-sizing: border-box;
}
body {
  width: 80%;
  margin: 0 auto;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  background-color: #e6ffcc;
}
h1,
h2,
h3 {
  text-align: center;
}
footer {
  height: 240px;
  background-color: rgb(254, 254, 204);
}
hr {
  margin: 32px 0px;
}
table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid #ccc;
}
tr:nth-child(odd) {
  background-color: #ddd;
}
tr:first-child {
  background-color: #4caf50;
  color: white;
}

.grid-container .item1 {
  grid-area: header;
}
.grid-container .item2 {
  grid-area: menu;
}
.grid-container .item3 {
  grid-area: main;
}
.grid-container .item4 {
  grid-area: right;
}
.grid-container .item5 {
  grid-area: footer;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}
.grid-container2 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.grid-container2 .item8 {
  grid-area: 1 / 2 / 5 / 6;
}
