/* Обнуление
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
-------------------- */

body {
  width: 80%;
  margin: 0 auto;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  background-color: #e7f5d3;
}
h1,
h2,
h3 {
  text-align: center;
}
footer {
  height: 240px;
  width: 100%;
}
hr {
  margin: 32px 0px;
}

.imgbox {
  float: left;
  text-align: center;
  max-width: 28%;
  border: 1px solid gray;
  margin: 4px;
  padding: 6px;
}
button {
  width: 100%;
}

#panel,
.flip {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background-color: #4caf50;
  color: white;
  border: solid 1px #a6d8a8;
  margin: auto;
}
#panel {
  display: none;
}

div.static {
  position: static;
  border: 3px solid #73ad21;
}

div.relative {
  position: relative;
  left: 30px;
  border: 3px solid #73ad21;
}

div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 480px;
  border: 3px solid #73ad21;
  background-color: rgba(225, 200, 175, 0.7);
}

div.relative2 {
  position: relative;
  width: 480px;
  height: 236px;
  border: 3px solid #73ad21;
}
div.absolute {
  position: absolute;
  top: 48px;
  right: 0;
  max-width: 360px;
  height: 192px;
  border: 3px solid #73ad21;
  background-color: #c5ecc7;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4caf50;
}
.bor {
  border: thin solid black;
}

.container {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

img.centre {
  width: 100%;
  height: auto;
  opacity: 0.3;
}

img.zindex {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.black-box {
  position: relative;
  z-index: 1;
  border: 2px solid black;
  height: 100px;
  margin: 30px;
}

.gray-box {
  position: absolute;
  z-index: 3; /* gray box will be above both green and black box */
  background: lightgray;
  height: 60px;
  width: 70%;
  left: 50px;
  top: 50px;
}

.green-box {
  position: absolute;
  z-index: 2; /* green box will be above black box */
  background: lightgreen;
  width: 35%;
  left: 270px;
  top: -15px;
  height: 100px;
}

.overflow-box {
  border: thin solid black;
  background-color: coral;
  width: 240px;
  height: 120px;
  margin-bottom: 8px;
}
#visible {
  overflow: visible;
  margin-bottom: 60px;
}
#hidden {
  overflow: hidden;
}
#scroll {
  overflow: scroll;
}
#of-auto {
  overflow: auto;
}

.nav {
  background-color: yellow;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 16px 4px;
  border-right: 2px solid #e7f5d3;
  text-align: center;
}
.nav li:last-of-type {
  border-right: none;
}

.al-center {
  margin: auto;
  width: 60%;
  border: 2px solid #73ad21;
  padding: 16px;
  text-align: center;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.lay img {
  width: 100%;
  height: auto;
}

.row,
.column {
  box-sizing: border-box;
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #aaa;
}
/* Left and right column */
.column.side {
  width: 25%;
}
/* Middle column */
.column.middle {
  width: 50%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side,
  .column.middle {
    width: 100%;
  }
}
